<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org">
	<head>
		<title>View Pilot</title>
	</head>
	<body>
		<h3>Data Pilot</h3>
		<table border>
			<tr>
				<th>Pilot License Number</th>
				<th>Name</th>
				<th>Fly Hour</th>
				<th>Action</th>
			</tr>
			<tr>
				<td th:text="${pilot.licenseNumber}"></td>
				<td th:text="${pilot.name}"></td>
				<td th:text="${pilot.flyHour}"></td>
				<td>
					<a th:href="@{/pilot/edit/__${pilot.licenseNumber}__}">Update</a> 
					<a th:href="@{/pilot/delete/__${pilot.licenseNumber}__}">Delete</a>
				</td>
			</tr>
		</table>
		<br>
		<a th:href="@{/flight/add/__${pilot.licenseNumber}__}">Add Flight</a><br>
		
		<h3>Flight List</h3>
		<table border>
			<tr>
				<th>Flight Number</th>
				<th>Origin</th>
				<th>Destination</th>
				<th>Time</th>
				<th>Action</th>
			</tr>
			<tr th:each="flight : ${flight}">
				<td th:text="${flight.flightNumber}"></td>
				<td th:text="${flight.origin}"></td>
				<td th:text="${flight.destination}"></td>
				<td th:text="${flight.time}"></td>
				<td> 
					<a th:href="@{/flight/edit/__${flight.flightNumber}__}">Update</a>
					<a th:href="@{/flight/delete/__${flight.flightNumber}__}">Delete</a>
				</td>
			</tr>
		</table>
	</body>
</html>